$center: center;

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-left {
  float:left;
}

.col-right {
  float: right;
}

.Orb { 
  width: 100px;
  height: 100px;
  background-color: pink;
}

.Queue {
  height: 200px;
  width: auto;
  background-color: grey;
}

.Spell {
  color: white;
}

.SpellList {
  width: 20%;
  float: right;
}